* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  color: #FFFFFF;
  background-color: #212529;
}

input,
textarea {
  background: #272C30;
  border-style: none;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #FFFFFF;
  outline-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #212529;
}

.full-view {
  height: 100vh;
}

.primary-text-color {
  color: #2692eb;
}

svg {
  width: 3rem;
}

.button-primary {
  color: white;
  background-color: #2692eb;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  border-style: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.button-primary:hover {
  background-color: #1e75bc;
}

.relative-el {
  position: relative;
}

::selection {
  color: #FFFFFF;
  background-color: #138be4;
}

.grid {
  display: grid;
}

.grid-2-c {
  grid-template-columns: 1fr 1fr;
}

.grid-3-c {
  grid-template-columns: 1fr 1fr 1fr;
}

.content-block {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-block {
  display: inline-block;
  position: relative;
}
.title-block h2 {
  position: relative;
}
.title-block::before {
  position: absolute;
  content: "";
  background: #1971C2;
  height: 0.875rem;
  width: 120%;
  top: 0.775rem;
  left: -10%;
}

.margin-2-top {
  margin-top: 2rem;
}

.margin-4-top {
  margin-top: 4rem;
}

.margin-2-bottom {
  margin-top: 2rem;
}

.uppercase {
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #212529;
}

::-webkit-scrollbar-thumb {
  background: #2692eb;
  border-radius: 10px;
}

.profile-pic {
  max-height: 20rem;
  max-width: 20rem;
  border-radius: 50%;
}

.whoami {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-heading {
  font-size: 2.2rem;
  padding: 1rem 0;
}

.intro-description {
  max-width: 500px;
  font-size: 1rem;
  text-align: center;
}

.social-media {
  display: flex;
  flex-direction: row;
}
.social-media div {
  padding: 0.5rem 1.5rem;
}
.social-media div svg {
  fill: #2692eb;
  transition: fill 0.5s ease;
}
.social-media div svg:hover {
  fill: #FFFFFF;
}

.call-to-action {
  margin: 0.5rem 0;
}

.image {
  display: flex;
  justify-content: center;
}
.image img {
  max-width: 25rem;
}

.text {
  margin: 4rem 0;
}
.text h1:nth-child(2) {
  color: #2692eb;
}
.text p {
  max-width: 500px;
  line-height: 1.5;
}
.text h1 {
  font-size: 3rem;
  font-weight: 200;
}

.icon {
  background-color: #343A40;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skill h3 {
  margin: 1rem 0;
}

.details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details svg {
  width: 2rem;
}
.details a {
  margin-top: 1rem;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
}
.details a svg {
  width: 1rem;
}

.project {
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-image {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: center;
}
.likes h4 {
  margin: 0 0.5rem;
}
.likes svg {
  width: 1.5rem;
}
.likes svg:hover {
  cursor: pointer;
}

.contact-component {
  max-width: 600px;
  max-height: 400px;
  margin: 2rem auto;
  background: #343A40;
  padding: 2rem;
  border-radius: 1rem;
}

.contact input {
  margin: 0.5rem 0;
}
.contact textarea {
  margin: 0.5rem 0;
  height: 6rem;
  resize: none;
}
.contact button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
}

.illu {
  position: relative;
}
.illu img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 250px;
}

.tech {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}
.tech svg {
  fill: #2692eb;
  transition: fill 0.5s ease;
}
.tech svg:hover {
  fill: #FFFFFF;
}

.invalid-input {
  animation: invalid 5s ease 0.5s;
}

@keyframes invalid {
  0% {
    border: 0.1rem solid #cc2828;
  }
  99% {
    border: 0.1rem solid rgba(204, 40, 40, 0);
  }
  100% {
    border: none;
  }
}
@media (max-width: 79em) {
  .container {
    max-width: 65rem;
  }

  .tech {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
  }
}
@media (max-width: 65em) {
  .container {
    max-width: 55rem;
  }

  .skill p {
    text-align: center;
  }
}
@media (max-width: 59em) {
  .container {
    max-width: 45rem;
  }

  .skill p {
    text-align: center;
  }

  .aboutme__grid {
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
  }

  .image {
    grid-row: 1;
  }
}
@media (max-width: 48em) {
  .container {
    max-width: 40rem;
  }

  .tech {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 5rem;
  }

  .projects {
    grid-template-columns: 1fr;
    padding: 0 5rem;
  }
  .projects .project {
    padding: 2rem 0;
  }
  .projects .project-image {
    height: 15rem;
  }

  .contact-component {
    grid-template-columns: 1fr;
    max-width: fit-content;
    max-height: fit-content;
    place-items: center;
  }
  .contact-component .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .contact-component .illu {
    grid-row: 1;
    width: fit-content;
    position: static;
  }
  .contact-component .illu img {
    position: static;
    left: 0;
    top: 0;
    transform: none;
  }

  .skills {
    grid-template-columns: 1fr;
    padding: 0 5rem;
  }
  .skills .skill {
    padding: 1.5rem 0;
  }

  .intro-heading {
    text-align: center;
    font-size: 1.8rem;
  }

  .text h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 32em) {
  .container {
    max-width: 25rem;
  }

  .whoami img {
    max-width: 15rem;
  }

  .image img {
    max-width: 20rem;
  }

  .aboutme__grid .text {
    margin: 0rem 2rem;
  }

  .project .project-image {
    height: 9rem;
  }
}

/*# sourceMappingURL=styles.css.map */
