::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: $primaryBg;
}

 ::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
}

.profile-pic {
    max-height: 20rem;
    max-width: 20rem;
    border-radius: 50%;
}

.whoami {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-heading {
    font-size: 2.2rem;
    padding: 1rem 0;
}

.intro-description {
    max-width: 500px;
    font-size: 1rem;
    text-align: center;
}

.social-media {
    display: flex;
    flex-direction: row;
    div {
        padding: 0.5rem 1.5rem;
        svg {
            fill: $primary;
            transition: fill 0.5s ease;
        }
        svg:hover {
            fill: $white;
        }
    }
}

.call-to-action {
    margin: 0.5rem 0;
}

.image {
    display: flex;
    justify-content: center;
    img {
        max-width: 25rem;
    }
}

.text {
    margin: 4rem 0;
    h1:nth-child(2) {
        color: $primary;
    }
    p {
        max-width: 500px;
        line-height: 1.5;
    }
    h1 {
        font-size: 3rem;
        font-weight: 200;
    }
}

.icon {
    background-color: $graybg;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
        margin: 1rem 0;
    }
}

.details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
        width: 2rem;
    }
    a {
        margin-top: 1rem;
        display: inline-block;
        color: $white;
        text-decoration: none;
        svg {
            width: 1rem;
        }
    }
}

.project {
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-image {
    height: 230px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
}

.likes {
    display: flex;
    align-items: center;
    justify-content: center;
    h4 {
        margin: 0 0.5rem;
    }
    svg {
        width: 1.5rem;
        &:hover {
            cursor: pointer;
        }
    }
}

.contact-component {
    max-width: 600px;
    max-height: 400px;
    margin: 2rem auto;
    background: $graybg;
    padding: 2rem;
    border-radius: 1rem;
}

.contact {
    input {
        margin: 0.5rem 0;
    }
    textarea {
        margin: 0.5rem 0;
        height: 6rem;
        resize: none;
    }
    button {
        margin-top: 1rem;
        padding: 0.75rem 1.5rem;
    }
}

.illu {
    position: relative;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 250px;
    }
}

.tech {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
    svg {
        fill: $primary;
        transition: fill 0.5s ease;
        &:hover {
            fill: $white;
        }
    }
}

.invalid-input {
    animation: invalid 5s ease 0.5s;
}

@keyframes invalid {
    0% {
        border: 0.1rem solid rgb(204, 40, 40);
    }
    99% {
        border: 0.1rem solid rgba(204, 40, 40, 0);
    }
    100% {
        border: none;
    }
}