* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    color: $white;
    background-color: $primaryBg;
}

input {
    background: $inputbg;
    border-style: none;
    border-radius: 1rem;
    padding: 0.5rem;
    color: $white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: $primaryBg;
}

.full-view {
    height: 100vh;
}

.primary-text-color {
    color: $primary;
}

svg {
    width: 3rem;
}

.button-primary {
    color: white;
    background-color: $primary;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    border-style: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
    &:hover {
        background-color: $primarytint1;
    }
}

.relative-el {
    position: relative;
}

::selection {
    color: $white;
    background-color: $selectionColor;
}

.grid {
    display: grid;
}

.grid-2-c {
    grid-template-columns: 1fr 1fr;
}

.grid-3-c {
    grid-template-columns: 1fr 1fr 1fr;
}

.content-block {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-block {
    display: inline-block;
    position: relative;
    h2 {
        position: relative;
    }
    &::before {
        position: absolute;
        content: "";
        background: $titleline;
        height: 0.875rem;
        width: 120%;
        top: 0.775rem;
        left: -10%;
    }
}

.margin-2-top {
    margin-top: 2rem;
}

.margin-4-top {
    margin-top: 4rem;
}

.margin-2-bottom {
    margin-top: 2rem;
}

.uppercase {
    text-transform: uppercase;
}